In [17]:
import pandas as pd

In [42]:
files = ['2016-1.csv','2016-2.csv','2016-3.csv','2016-4.csv','2016-5.csv','2016-6.csv',
         '2017-1.csv','2017-2.csv','2017-3.csv','2017-4.csv','2017-5.csv','2017-6.csv','2017-7.csv',
         '2018-1.csv','2018-2.csv','2018-3.csv','2018-4.csv','2018-5.csv','2018-6.csv','2018-7.csv',
         '2019-1.csv','2019-2.csv','2019-3.csv','2019-4.csv','2019-5.csv','2019-6.csv','2019-7.csv',
         '2020-1.csv','2020-2.csv','2020-3.csv','2020-4.csv','2020-5.csv','2020-6.csv',
         '2021-1.csv','2021-2.csv','2021-3.csv','2021-4.csv','2021-5.csv','2021-6.csv',
         '2022-1.csv','2022-2.csv','2022-3.csv','2022-4.csv','2022-5.csv','2022-6.csv',
         '2023-1.csv','2023-2.csv','2023-3.csv','2023-4.csv','2023-5.csv','2023-6.csv',
         ]

In [47]:
all_dfs = []
for filename in files:
    new_df = pd.read_csv(filename)
    all_dfs.append(new_df)
    
df = pd.concat(all_dfs)
df.to_csv(path_or_buf= 'File.csv', index=False)

In [50]:
data= pd.read_csv('File.csv')

/var/folders/b2/_nct9v3j3c18n510n6syzmf40000gn/T/ipykernel_60382/3318765747.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv('File.csv')

In [53]:
def data_clean(df):  
    def isint(x):
        try:
            int(x)
            return True
        except:
            return False
        
    for i in df.index:
        if isint(df.loc[i, 'Opening Rank']):
            df.loc[i, 'Opening Rank'] = int(df.loc[i, 'Opening Rank'])
        else:
            df.loc[i, 'Opening Rank'] = 0    
        
    for i in df.index:
        if isint(df.loc[i, 'Closing Rank']):
            df.loc[i, 'Closing Rank'] = int(df.loc[i, 'Closing Rank'])
        else:
            df.loc[i, 'Closing Rank'] = 0
    
    df['Opening Rank']=df['Opening Rank'].astype('int64')
    df['Closing Rank']=df['Closing Rank'].astype('int64')
    df['Institute']=df['Institute'].astype('category')
    df['Academic Program Name']=df['Academic Program Name'].astype('category')
    df['Quota']=df['Quota'].astype('category')
    df['Seat Type']=df['Seat Type'].astype('category')
    df['Gender']=df['Gender'].astype('category')
    print(df.info())

data_clean(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394291 entries, 0 to 394290
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Institute              394291 non-null  category
 1   Academic Program Name  394291 non-null  category
 2   Quota                  394291 non-null  category
 3   Seat Type              394291 non-null  category
 4   Gender                 338513 non-null  category
 5   Opening Rank           394291 non-null  int64
 6   Closing Rank           394291 non-null  int64
 7   Year                   394291 non-null  int64
 8   Round                  394291 non-null  int64
dtypes: category(5), int64(4)
memory usage: 14.7 MB
None

In [55]:
data

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533,5947,2016,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829,2213,2016,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663,1023,2016,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331,357,2016,1
4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408,6561,2016,1
...,...,...,...,...,...,...,...,...,...
394286,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502,2023,6
394287,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273,2023,6
394288,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784,2023,6
394289,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633,2023,6
394290,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129,2023,6